// use this for menu on different pages
@mixin for_utafiti_menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    .menu_main {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        .logo {
            padding: 2rem 5rem
        }
    }
}

.hero_layout {
    @include for_utafiti_menu()
}