.c-header {
  padding: 60px 0;
  font-size: 20px;
  font-size: calcFluidFontSize(16, 20, 1920, 2560);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  @include s-1920 {
    font-size: calcFluidFontSize(14, 16, 1440, 1920);
    padding: 34px 0;
  }

  @include s-1440 {
    font-size: 14px;
    padding: 20px 0;
  }

  @include s-1024 {
    padding: 25px 0;
  }

  @include s-768 {
    padding: 35px 0;
  }

  @include s-640 {
    padding: 20px 0;
  }

  & .el-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & a:not(.c-header-logo) {
    line-height: 100%;
    display: block;
    color: var(--color-black-2);
    margin: 0 30px;
    position: relative;

    @include s-1920 {
      margin: 0 25px;
    }

    @include s-1024 {
      margin: 15px;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0;
      height: 2px;
      transform: translateX(-50%);
      background: linear-gradient(95.3deg, #A377FF 10.48%, #30C9CB 95.91%);
      transition: width ease-out .3s;
    }

    &:hover:after {
      width: 100%;
    }

    &.active:after {
      width: 100%;
    }

    &.c-header-logo {
      &:after {
        content: none;
      }      
    }

    &.el-button {
      margin: 0;
      color: var(--color-white);

      &:after {
        content: none;
      }
    }
  }

  &-logo {
    display: flex;
    flex: 0 0 15%;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 275px;
      width:100%;

      @include s-1920 {
        max-width: 258px;
      }

      @include s-1440 {
        max-width: 210% !important;
      }

      @include s-640 {
        max-width: 140% !important;
      }
    }
  }

  &-menu {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    border-radius: 50px;
    padding: 5px;

    @include s-1024 {
      position: fixed;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include s-640 {
      bottom: 15px;
    }

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      @include s-1024 {
        display: none;
        flex-direction: column;
        padding: 25px 35px 0 35px;
        margin-bottom: 10px;
      }
    }

    & li {
      border-radius: 50px;
      position: relative;
      z-index: 1;
    }

    &--title {
      display: none;
      padding: 12px 50px;
      font-size: 14px;
      line-height: 125%;
      font-family: var(--font-medium);
      color: var(--color-black);
      text-align: center;

      @include s-1024 {
        display: block;
      }
    }

    &.active {
      & ul {
        display: flex;
        min-width: 280px;
      }

      & .c-header-menu--title {
        cursor: pointer;
        color: var(--color-grey-1);
      }
    }
  }

  &-auth {
    text-align: right;
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & a {
      color: var(--color-white);
    }
  }
}

.p-article {
  & .c-header-auth a {
    color: var(--color-black);
  }
}
